.notifications {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnGroup {
  margin: 0;
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.listsWrapper {
  display: flex;
  color: #004aad;
  justify-content: space-between;
}
.listsHome > p {
  font-weight: 800;
}
.listsHome ul {
  display: flex;
}
.listsHome li {
  margin: 0 0.5rem;
}
